@import url('https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&amp;display=swap');
@import url('https://fonts.cdnfonts.com/css/strange-piece');
@import url('https://fonts.cdnfonts.com/css/strasua');
@import url('https://fonts.cdnfonts.com/css/a-attack-graffiti');

@font-face {
    font-family: craft;
    src: url(mine.otf) format("opentype");
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-5/oth445.cur), auto !important;} /* End https://www.cursors-4u.com */
                

body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.75);
    background-color: #080808;
    background-image:url(https://cdn.discordapp.com/attachments/1103802791606104186/1130066169693478943/ok.gif);
    /* background: #000000 url("https://data.whicdn.com/images/325134369/original.jpg")center center; */
    /* background: #000000 url("https://data.whicdn.com/images/360609328/original.jpg")center center; */
    /* background: #000000 url("https://i.pinimg.com/originals/7e/92/e8/7e92e87f1d4da5fcca1b20e1c56004e4.jpg")center center; */
    /* background: #000000 url("https://i.pinimg.com/originals/7e/92/e8/7e92e87f1d4da5fcca1b20e1c56004e4.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    animation: shake 15s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }

    
}

.archive-box .top-wrap,.top-wrap img{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none}.archive-box a#button,.socials,.top-wrap img{filter:drop-shadow(0px 3px 5px rgba(0, 0, 0, .5))}#enter,.badge,.inside{cursor:pointer}:selection{background-color:#33323233}::-webkit-scrollbar{width:10px}::-webkit-scrollbar-track{background-color:#0f0f0f;border-radius:5px}::-webkit-scrollbar-thumb{background:#fff;border-radius:4px}::-webkit-scrollbar-thumb:hover{background:#555}.inside{font-size:24px;color:#fff;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);transition:1.2s ease-in;font-family:craft;font-weight:700}.waviy,.waviy span{position:relative}.archive-box{margin:0 auto}.archive-box .top-wrap{text-align:center;margin-bottom:30;user-select:none}.top-wrap img{height:80px;width:80px;border-radius:25%;margin-top:40;user-select:none}.top-wrap h1,.waviy{margin:10px 0 0;font-family:craft,sans-serif;text-shadow:0 0 .4em #fff}.archive-box a,.archive-box a#button{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;transition:.2s ease-in-out;-webkit-touch-callout:none;-khtml-user-select:none}.waviy span{display:inline-block;font-size:30px;padding-left:0;color:#fff;animation:2s infinite flip;animation-delay:calc(.2s * var(--i))}@keyframes flip{0%,80%{transform:rotateY(360deg)}}.socials a:hover,.top-wrap h1:hover{color:#6f00ff}.top-wrap h2{font-size:16px;margin:.25em 0 0;font-family:Poppins,sans-serif}#enter,.archive-box a{color:#fff;font-size:24px}.archive-box .row{display:flex;flex-wrap:wrap;justify-content:center;margin:auto auto 0}.archive-box .item{background-color:rgba(20,20,20,.59);backdrop-filter:blur(6px);-webkit-backdrop-filter:blur(6px);flex:0 14%;align-items:center;border-radius:10px;margin:0 1em 40px;padding-top:20;height:330px;width:400px}.archive-box .item>.content{display:flex;flex-direction:column;padding:1em;min-height:175px;position:relative}.archive-box .img-wrap{text-align:center;display:flex;flex-direction:column}.archive-box a{font-family:craft;text-shadow:0 0 .1em #fff;text-decoration:none;margin-bottom:8px;font-weight:700;user-select:none}.archive-box a:hover{cursor:pointer;color:#6f00ff}.archive-box img:hover{transform:scale(1.1);filter:drop-shadow(0px 0px 10px #2c2c2c)}.archive-box a#button{background-color:#fff;color:#000;border:none;font-size:15px;width:60px;margin:0 auto;border-radius:15px;padding:8px 10px;font-family:Poppins,sans-serif;user-select:none;line-height:1;font-weight:600}.socials{margin:2em 0 1em}.socials a{width:30px}.socials a img{height:30px;width:30px;transition:.2s ease-in-out;margin:0 .5em}.socials a img:hover{transform:scale(1.1);filter:drop-shadow(0px 0px 10px #6f00ff)}@media (max-width:1400px){.archive-box .img-wrap{display:flex;flex-direction:column}.archive-box .img-wrap img{margin:0 auto}.archive-box .img-wrap button{width:100px;margin:0 auto}.archive-box .item>.content{flex-direction:column}.archive-box .item p{padding-right:0!important}}@media (max-width:1000px){.archive-box .row{flex-direction:column;margin-bottom:0;width:90%}.archive-box .item{margin:0 0 2em;align-self:baseline;width:100%}.archive-box p{height:auto;max-height:125px}.socials a img{height:30px;width:30px;transition:.2s ease-in-out;padding-inline:3%}.inside{font-size:24px;color:#fff;position:absolute;top:13%;left:50%;transform:translate(-50%,-50%);cursor:pointer;transition:1.2s ease-in;font-family:craft;font-weight:700}}#snow,.blurpage,.replace{top:0;left:0}.archive-box .img-wrap>img{height:125px;width:125px;padding:0;border-radius:50%;border:3px solid #70f;margin:5 auto 20px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.blurpage{background:rgb(0 0 0/15%);backdrop-filter:blur(20px);-webkit-backdrop-filter:blur(20px);position:fixed;padding:0;margin:0;width:100%;height:100%;transition:6.5s ease-in}#enter,.blurpagerplc2{transition:1.2s ease-in}.blurpagerplc{background:0 0;backdrop-filter:none}.blurpagerplc2{width:10%;height:10%}.musicbtn:hover{opacity:1}.musicbtn{background:#000}audio{display:none}.replace{transform:translate(0,0);opacity:.2}.replace:hover{opacity:.5}.badge{filter:drop-shadow(0px 1px 2px rgba(0, 0, 0, .5));padding:0;position:static;width:20px;height:20px}.sparkle{background-image:url(../../../media.discordapp.net/attachments/987149728800198686/991834200309248070/sparkle.gif)}#snow{position:fixed;right:0;bottom:0;pointer-events:none;z-index:1000}